<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>
<%--
  Created by IntelliJ IDEA.
  User: 1
  Date: 27.05.2022
  Time: 22:16
  To change this template use File | Settings | File Templates.
--%>
<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html>
<head>
  <title>Form</title>
</head>
<body>
Hello + ${user.name}

<form:form action="/locationSecondPlay" modelAttribute="ship">
  Choose type
  <form:input path="type"/>
  <br>
  location horizontally or vertically
  <form:input path="location"/>
  <br>
  locaY <form:input path="locaY"/>
  locaX <form:input path="locaX"/>

  <input type="submit">
</form:form>
<br>
<br>
Yoy ship is
${ship.type}
<br>
${ship.location}
<br>
${ship.locaX}
<br>
${ship.locaY}
<br>
Осталось расставить кораблей +${countshipssecondPlayer}

<br>
<br>
<br>
New Matrix
<br>
<pre>
  ${fieldfoSecond}
</pre>
</body>
</html>
