<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handing Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Result</h1>
<p th:text="'id: ' + ${ship.type}"/>
<p th:text="'content: ' + ${ship.location}"/>
<p th:text="'content: ' + ${ship.locaX}"/>
<p th:text="'content: ' + ${ship.locaX}"/>
<br>
You Location :
<pre>
<h2 th:text="|${matrix}|"></h2>
</pre>
<a href="/greeting">Submit another message</a>
</body>
</html>